:root {
  --white: #efefef;
  --red: #d1345b;
  --green: #0b7a75;
  --blue: #3454d1;
  --yellow: #d7c9aa;
  --black: #070707;

  --transluscent-white: rgba(239, 239, 239, 0.3);
  --transluscent-black: rgba(7, 7, 7, 0.5);

  --nav-height: 64px;
  --gradient-color-size: 500px;
  --border-size: 4px;
}

.debug {
  outline: 1px solid red !important;
}

html {
  scroll-padding-top: var(--nav-height);
  font-family: "Roboto", sans-serif;
  background-color: var(--black);
}

body {
  background: repeating-linear-gradient(
    170deg,
    var(--green) 0 100vh,
    var(--blue) 100vh calc(100vh * 2),
    var(--red) calc(100vh * 2) calc(100vh * 3)
  );
  color: var(--white) !important;
  margin: 0;
  padding: 0;
}

/* borders */

.green-blue-border {
  border-top: 8px solid var(--green);
  border-right: 8px solid var(--blue);
  border-bottom: 8px solid var(--blue);
  border-left: 8px solid var(--green);
}

.blue-red-border {
  border-top: 8px solid var(--blue);
  border-right: 8px solid var(--red);
  border-bottom: 8px solid var(--red);
  border-left: 8px solid var(--blue);
}

.red-green-border {
  border-top: 8px solid var(--red);
  border-right: 8px solid var(--green);
  border-bottom: 8px solid var(--green);
  border-left: 8px solid var(--red);
}

.light-border {
  border: 8px solid var(--transluscent-white);
}

.dark-border {
  border: 8px solid var(--transluscent-black);
}

.rounded-lg {
  border-radius: 1rem !important;
}

/* Backgrounds */

.bg-black {
  background-color: var(--black) !important;
}

.bg-blue {
  background-color: var(--blue) !important;
}

.bg-green {
  background-color: var(--green) !important;
}

.bg-red {
  background-color: var(--red) !important;
}

.bw {
  filter: saturate(0%);
}

/* Fonts */

.big-font {
  font-family: "Secular One", sans-serif !important;
}

a:hover {
  color: var(--blue);
}

/* Text */

.text-transluscent-white {
  color: var(--transluscent-white) !important;
}

.text-transluscent-black {
  color: var(--transluscent-black) !important;
}

/* Generic sizing */

.w-10 {
  width: 10% !important;
}

.w-20 {
  width: 20% !important;
}

.w-25 {
  width: 25% !important;
}

.w-30 {
  width: 30% !important;
}

.w-40 {
  width: 40% !important;
}

.w-60 {
  width: 60% !important;
}

.w-70 {
  width: 70% !important;
}

.w-75 {
  width: 75% !important;
}

.w-80 {
  width: 80% !important;
}

.w-90 {
  width: 90% !important;
}

li {
  margin: 0.5rem 0;
}
