:root {
    --background-color: #333;
    --foreground-color: #eee;
}

html {
    /* font-family: 'Source Sans Pro', sans-serif; */
    font-family: 'Muli', sans-serif;
    overflow-y: auto;
    background-color: var(--foreground-color);
}

body {
    margin: 0;
    padding: 0;
}

.nav-icon {
    margin: 1em;
    width: 32px;
    cursor: pointer;
    padding: 0 10px;
}

.nav-icon:before,
.nav-icon:after,
.nav-icon div {
    background-color: var(--foreground-color);
    height: 5px;
    margin: 7px 0;
    content: '';
    display: block;
}

.hamburger-menu {
    margin: 0;
    width: 100%;
    background-color: #222;
    transition: max-height 0.3s ease-in-out;
}

.hamburger-menu a {
    text-decoration: none;
    font-size: 24pt;
}

.menu-item:hover {
    opacity: 0.5;
}

.menu-item {
    list-style-type: none;
    width: 100%;
    color: var(--foreground-color);
    padding: 15px;
    transition-property: opacity;
    transition-duration: 0.3s;
}

.navigation {
    background-color: var(--background-color);
    color: var(--foreground-color);
    padding: 20px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-name {
    font-size: 40pt;
}

.do-not-display {
    display: none;
}

.site-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    box-shadow: 0 0 8px 8px #eee inset;
    
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
     -ms-animation: fadein 2s; /* Internet Explorer */
      -o-animation: fadein 2s; /* Opera < 12.1 */
         animation: fadein 2s;
}


.section {
    width: 75%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    position: sticky;
}

.section-title {
    font-size: 32pt;
    text-align: center;
}

.section-text {
    font-size: 16pt;
}

.footer {
    background-color: var(--background-color);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.footer a {
    Text-align: center;
    min-width: 175px;
    margin: 15px 10px;
}

.link-text {
    text-decoration: none;
    color: var(--foreground-color);
    font-size: 20pt;
    transition-property: opacity;
    transition-duration: 0.3s;
}

.link-text:hover {
    opacity: 0.5;
}

.caption {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    text-align: center;
    font-style: italic;
}

.no-style {
    margin: 0;
    padding: 0;
}

@media only screen and (min-width: 768px) {
    .site-image {
        border-radius: 4px;
        margin-top: 25px;
        width: 35%;
    }

    .section {
        width: 40%;
        text-align: justify;
    }

    .caption {
        width: 30%;
    }

    .footer a {
        margin: 25px 10px;
    }

    .navigation {
        position: relative;
    }

    .hamburger-menu {
        width: 30%;
        margin-right: 0;
        margin-left: auto;
    }
}



@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}